//! **************************************************************************
// Written by: Map P.20131013 on Tue May 21 11:45:55 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Out_An<1>" LOCATE = SITE "J18" LEVEL 1;
COMP "Out_An<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "Out_An<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "Out_An<0>" LOCATE = SITE "J17" LEVEL 1;
COMP "Out_Cat<5>" LOCATE = SITE "T11" LEVEL 1;
COMP "Out_Cat<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "Out_Cat<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "READ_STROBE" LOCATE = SITE "V11" LEVEL 1;
COMP "Out_Cat<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "Out_Cat<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "Out_Cat<1>" LOCATE = SITE "R10" LEVEL 1;
COMP "Out_Cat<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "INTERRUPT" LOCATE = SITE "U11" LEVEL 1;
COMP "IN_PORT<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "IN_PORT<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "IN_PORT<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "IN_PORT<4>" LOCATE = SITE "R17" LEVEL 1;
COMP "IN_PORT<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "RESET" LOCATE = SITE "T13" LEVEL 1;
PIN RESET_pin<0> = BEL "RESET" PINNAME PAD;
PIN "RESET_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "IN_PORT<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "IN_PORT<6>" LOCATE = SITE "U18" LEVEL 1;
COMP "IN_PORT<7>" LOCATE = SITE "R13" LEVEL 1;
COMP "Zero" LOCATE = SITE "V14" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
COMP "WRITE_STROBE" LOCATE = SITE "V12" LEVEL 1;
SCHEMATIC END;

